*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-color:white;
}
logo{
  margin-left: 20px;
  width: 10%;
  margin: 10px;
}
logo a { 
  text-decoration: none;
  font-size: 25px;
  }
.menu{
  width: 100%;
  background-color: rgb(245, 220, 230);
  display: flex;
  position: fixed;
}
.left a {
  text-decoration: none;
}
.left ul{
  list-style-type: none;
}
.left ul li{
  display: inline-block;
  margin: 0 20px;
  padding: 15px;
}
.menu{
  display: flex;
}
/* .search{
  margin-right: 2000px;
  width: 300%;
  text-align: right;
}
search input{
  padding: 10px 5px;
  border-radius: 15px;
  border: none;
  outline: none;
} */
.anh{
  width: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
}